@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@401&display=swap');

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Header and nav bar */
header {
    font-family: 'Caveat', cursive;
    background-color: lightslategray;
    color: firebrick;
    border-radius: 10px;
    padding: 1%;
    display: grid;
    grid-template-areas: 'title' 'nav';
    grid-template-columns: 7fr 3fr;
}
#title {
    grid-area: title;
}
.main-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: x-large;
    grid-area: nav;
}

.main-nav a:link, a:visited {
    color: firebrick;
    padding: 10px;
}

/* Footer */
footer {
    background-color: lightslategray;
    color: firebrick;
    border-radius: 10px;
    padding: 2%;
}

/* Index page */
#index-container {
    display: grid;
    grid-template-areas:
        'choices choices choices'
        '. how-to-play .';
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
}

#how-to-play {
    border-top-style: solid;
    border-color: firebrick;
    grid-area: how-to-play;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choices-description {
    grid-area: choices;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.choice-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 33%;
}

.choice-box img {
    height: 250px;
    width: 250px;
}

/* Results page */
#result{
    display: flex;
    flex-direction: column;
    align-items: center;
}